Django==1.5.1
Pillow==1.7.8
South==0.7.6
distribute==0.6.10
django-appconf==0.6
django-compressor==1.2
django-fiber==0.10.1
django-mptt==0.5.5
django-registration==0.8
django-registration-email==0.5.1
django-social-auth==0.7.22
django-verbatim==0.1
djangorestframework==2.2.3
gunicorn==0.17.4
httplib2==0.8
oauth2==1.5.211
psycopg2==2.4.6
python-openid==2.2.5
six==1.2.0
stevedore==0.8
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
