

.log_list_exercise_name {
    padding-left: 2em;
}

.log_list_wr {
    padding-left: 4em;
}

/* for wrs select */
select.btn-mini {
    height: auto;
    line-height: 14px;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
