{% extends 'base.html' %}
{% block content %}

    <div>
    <table>
        {% for goal in goals %}
            <tr>
                <td>
            <p>{{ goal }}11</p>
                </td>
                <td>
            <form method="post" action="/goals/{{ goal.id }}/del/">
                {% csrf_token %}
                <button name="delete" value="delete">delete</button>

            </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div>
        <form   method="post" action="/goals/goal_exrc_choice/">
            {% csrf_token %}
            <button name="add_goal" value="add_goal">add goal</button>
        </form>
    </div>
{% endblock %}