{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <button name="add" value="add">add workout</button>
    </form>
    {% for workout in objects_list %}
        <div class="row horizontal-divider">
            <div class="span8">
                <a href="/workouts/{{ workout.id }}/" class="btn btn-block">{{ workout.id }} {{ workout.date }}</a>
            </div>
            <div class="offset3 span1">
                <form method="post" action="/workouts/{{ workout.id }}/del/">
                    {% csrf_token %}
                    <button class="btn btn-small" name="delete" value="delete">delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}