{% extends 'base.html' %}
{% block head_extra %}
   <script type="text/javascript">
        $(document).ready(function(){

        })
    </script>
{% endblock %}
{% block content %}
    <p>email: {{ user.email }}</p>
    {% with user.profiles.all.0 as profile %}
        <p>имя и фамилия: {{ profile.name }}</p>
        <p>телефон: {{ profile.phone }}</p>
    {% endwith %}

    <div>
        <p>физиологические данные</p>
    </div>
    <a href="/log/add_workout/" class="btn btn-primary">log the training</a>

{% endblock %}