{% extends 'base.html' %}
{%load verbatim%}

{% block extra_head %}
{% endblock %}

{% block content %}

    {% verbatim %}
    <div ng-app="myApp">



        <script type="text/ng-template" id="home.html">
            Welcome!
        </script>

        <script type="text/ng-template" id="appOne.html">
            Hello {{ name }}!
        </script>

        <script type="text/ng-template" id="appTwo.html">
            2 + 5 = {{ 2+5 }}
        </script>



        <a href="#appOne">App One</a> |
        <a href="#appTwo">App Two</a> |
        <a href="#add_workout">add workout</a>

        <div ng-view></div>

            <!--

        <div ng-controller="WorkoutAddCtrl">


            <ng-include src="'add_workout.html'"></ng-include>
        </div>
            <div ng-controller="WorkoutAddCtrl">
                <p>today: {{ today }}</p>
            </div>
            <div ng-controller="HelloCntl">
                Your name: <input type="text" ng-model="name" value="World"/>
                <hr/>
                Hello {{name}}!
            </div>
            <div ng-controller="FormController" class="example">

                <label>Name:</label><br>
                <input type="text" ng-model="user.name" required/> <br><br>

                <label>Address:</label><br>
                <input type="text" ng-model="user.address.line1" size="33" required> <br>
                <input type="text" ng-model="user.address.city" size="12" required>,
                <input type="text" ng-model="user.address.state"
                       ng-pattern="state" size="2" required>
                <input type="text" ng-model="user.address.zip" size="5"
                       ng-pattern="zip" required><br><br>

                <label>Phone:</label>
                [ <a href="" ng-click="addContact()">add</a> ]
                <div ng-repeat="contact in user.contacts">
                    <select ng-model="contact.type">
                        <option>email</option>
                        <option>phone</option>
                        <option>pager</option>
                        <option>IM</option>
                    </select>
                    <input type="text" ng-model="contact.value" required>
                    [ <a href="" ng-click="removeContact(contact)">X</a> ]
                </div>
                <hr/>
                Debug View:
                <pre>user={{user | json}}</pre>
            </div> -->

        <script type="text/ng-template" id="add_workout.html">
            <p>date: {{ date }}</p>
            <div class="row-fluid">
                <div class="log-dates">
                    <div ng-repeat="date in date_b_list">
                        <a href="#add_workout/{{ date[0] }}">
                            <div class="span1">
                                <p ng-click="wo_from_date(date)" class="date_verbose">{{ date[1] }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="log-date-today">
                        <a href="#add_workout/{{ wo_date }}">
                            <div class="span2">
                                <h4 class="text-success date_verbose" ng-click="wo_from_date(date)"><strong>{{ wo_date_full }}</strong></h4>
                            </div></a>
                    </div>
                    <div ng-repeat="date in date_a_list">
                        <a href="#add_workout/{{ date[0] }}">
                            <div class="span1">
                                <p class="date_verbose" ng-click="wo_from_date(date)">{{ date[1] }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3 offset 1">
                    <div class="control-group input-append"  id="dp3">
                        <input type="text" ng-model="date_to" ng-change="rediredt_to_date()" data-date-format="yyyy-mm-dd" bs-datepicker value="{{ wo_date }}" id="dp2">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
                <div class="span3">
                    <a class="btn btn-primary" ng-href="#/add_workout/{{ today | date:'yyyy-MM-dd' }}">today: {{ today | date:'yyyy-MM-dd' }}</a>
                </div>
            </div>



            <!-- wo_data -->
            <div class="row-fluid">
                <div class="span7">
                    <button class="btn btn-primary" ng-click="save_workout()">Save</button>
                    <div class="log-exercises thumbnail" ng-repeat="exercise in workout.data">
                        <div class="log-exercise">
                            <div class="row-fluid">
                            <div class="span2"><p>{{ exercise.name }}</p></div>
                            <div class="span1 offset9">
                                <div ng-click="removeExrcise($index)">
                                    [ X ]
                                </div>
                            </div>
                            </div>
                        </div>
                        [ <a href="" ng-click="addWR(exercise)">add</a> ]
                        <div ng-repeat="wr in exercise.wrs">
                            <!--
                            <div>
                                <input type="text" ng-model="wr[0]"> kg x <input type="number" ng-model="wr[1]"> reps
                                [ <a href="" ng-click="removeWR($index, exercise)">X</a> ]
                            </div> -->
                            <div  class="row-fluid">
                            <div class="span11"><log-wr wr="wr" exercise="exercise" units="units"></log-wr></div>
                            <div class="span1">[ <a href="" ng-click="removeWR($index, exercise)">X</a> ]</div>
                            </div>
                        </div>
                    </div>
                    <hr id="add_exrc_scroll">
                    Debug view:
                    <pre>
                         <div><p> workout: {{ workout | json }}</p></div>
                    </pre>

                    <h3>exrcises: {{ cur_exercises }}</h3>
                    <h1> <pre>{{ test }}</pre></h1>
                    <h2 ng-click="predicate=!predicate">predicate</h2><hr><h2 ng-click="reversed=false">reversed</h2>
                    <h1> {{ workout.data.slice(0,8) }}</h1>

                </div>
                <!-- exercises -->
                <div class="span5">
                    <input type="text" ng-model="cur_exercise">
                    <div class="exercise-list">
                        <div ng-repeat="exercise in cur_exercises | filter: cur_exercise">
                            <div class="exercise-choice" ng-click="add_exrc_to_cur_workout(exercise)">
                                <p>{{ exercise.name }} {{ exercise.type }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </script>

        <!-- hello.html -->
        <script type="text/ng-template" id="hello.html">

        </script>

        </div>
        <!-- add_workout.html -->



    <hr>
    {% endverbatim %}

{% endblock %}

{% block tail_js %}
    <!-- <script src="/static/log.js" type="text/javascript"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="/static/angular/js/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="//mgcrea.github.com/angular-strap/vendor/bootstrap-datepicker.js"></script>
    <script src="//mgcrea.github.com/angular-strap/js/angular-strap.js?0.6.6"></script>


    <script src="/static/angular/js/services.js"></script>
    <script src="/static/angular/js/controllers.js"></script>
    <script src="/static/angular/js/filters.js"></script>
    <script src="/static/angular/js/directives.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}