{% extends 'base.html' %}
{% load comments %}
{% load verbatim %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="row-fluid">
    <div class="span12">
    <h1>Список тренировок</h1>
        {% verbatim %}
        <div ng-app="woList">
            <div ng-controller="woListCtrl">
                <hr>
                <div>
                    <div ng-repeat="page in pages">

                        <div ng-repeat="wo in page.results">
                            <div>
                                <strong>{{ wo.date | date:'fullDate'}}</strong>
                                <a href="/log/add_workout/#/add_workout/{{ wo.date }}">details</a>
                            </div>
                            <div>
                                    <div ng-repeat="exercise in wo.data">
                                        <h5 class="log_list_exercise_name">{{ exercise.name }}</h5>

                                            <div ng-repeat="wr in exercise.wrs">
                                                <span class="log_list_wr">{{ wr[0] }} kg x {{ wr[1] }} reps</span>
                                            </div>
                                    </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <a href="" class="btn" ng-click="more_workouts()" ng-show="more_workouts_state">more ...</a>
                </div>

            </div>

        </div>
        {% endverbatim %}
    </div>
    </div>
{% endblock %}

{% block tail_js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
<script src="/static/angular/js/app.js"></script>

<script src="//mgcrea.github.com/angular-strap/js/angular-strap.js?0.6.6"></script>

<script src="/static/angular/js/services.js"></script>
<script src="/static/angular/js/controllers.js"></script>
<script src="/static/angular/js/filters.js"></script>
<script src="/static/angular/js/directives.js"></script>
{% endblock %}
